* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;            
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

#form {
  text-align: center;
}
.gif-container {
  height: 40vh;
  width: 80%;
  background: black;
  margin: auto;
}